
.header{
  display: flex;
  background-color: #306B34;
  height: 150px;
}
.woman{
  width: 500px;
  height: 938px;
  position: absolute;
}
.white-box{
  height: 187px;
  width: 706px;
  position: relative;
}
.second-section{
  height: 779px;
  display: flex;
}
.article{
  height: 302px;
  width: 302px;
  font-size: 20px;
}
.coffee{
  width: 679px;
  height: 453px;
  left: 138px;
  top: 1159px;
  opacity: 1;
}
footer{
  height:76px;
  background-color: #306B34;
}
.footer{
    display: flex;
}
