@font-face {
    font-family: 'M+ 2p';
    src: url('mplus-2p-thin.eot');
    src: url('mplus-2p-thin.eot?#iefix') format('embedded-opentype'),
        url('mplus-2p-thin.woff2') format('woff2'),
        url('mplus-2p-thin.woff') format('woff'),
        url('mplus-2p-thin.ttf') format('truetype'),
        url('mplus-2p-thin.svg#mplus-2p-thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

